{% include 'nav.html' %}
<div class="main">
<!-- GOOGLE PLUS SIGN IN BUTTON
           <div id="signinButton" style="padding: 5px;margin-top:10px;text-align: center;">
              <span class="g-signin"
                data-scope="profile email"
                data-clientid="644034808594-affpjpqbe6abkoov63ev6bd5kdesqcrh.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
              </span>
          </div>          
END GOOGLE PLUS SIGN IN BUTTON -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<script>
  function start() {
    gapi.load('auth2', function() {
      auth2 = gapi.auth2.init({
        client_id: '644034808594-affpjpqbe6abkoov63ev6bd5kdesqcrh.apps.googleusercontent.com'
      });
    });
  }
</script>

<center>
<button id="signinButton" class="btn btn-primary"><i class="fab fa-google"></i>SignIn</button>
<div id="result"></div>
</center>

<center><div id="result">
  <div class="container">
  <div class="row"> 
    {% for na in nfs %}
    
      <div class="col-sm-3" style="border:2px solid blue;
            border-radius: 30px;padding: 30px; width: 350px; margin: 20px;">
          <a href="{{ url_for('showWebsite',naid=na.id)}}" style="text-decoration: tomato;"><h4 class="text-primary">{{na.name}}</h4></a>
          
      </div>
      
    {% endfor %}
  </div>  
</div>
</div></center>

<!-- {% with messages = get_flashed_messages() %}
        {% if messages %}
          <script>
            var messages = {{ messages | safe }};
            for (var i=0; i<messages.length; i++) {
              alert(messages[i]);
            }
          </script>
        {% endif %}
    {% endwith %} -->
<script>
  $('#signinButton').click(function() {
    function signInCallback(authResult){
      if (authResult['code']){
        $('#signinButton').attr('style', 'display: none');
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{STATE}}',
          headers: {
          'X-Requested-With': 'XMLHttpRequest'
          },
          contentType: 'application/octet-stream; charset=utf-8',
          success:function(result){
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                 setTimeout(function() {
                  window.location.href = "/WebsiteHub";
                 }, 2000);
          },
          processData:false,
          data:authResult['code']
        });
      } else{
        // handle error
        console.log('There was an error: ' + authResult['error']);
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
      }
    }
    auth2.grantOfflineAccess().then(signInCallback);
  });
</script>
</div>